[report]
omit = enstaller/argparse*
       enstaller/indexed_repo*
       enstaller/vendor*
       enstaller/verlib*
       egginst/bootstrap.py
       egginst/console/*
       egginst/macho/*
       */tests/*
