cachecontrol
coverage
detox
encore >= 0.4.0
machotools>=0.0.2
appinst>=2.1.4
okonomiyaki>=0.0.3
mock
nose
randomize
six
tox
refactordoc
sphinx
sphinx-rtd-theme
requests >= 2.2.0
responses
https://github.com/cournape/sqlite_cache/archive/v0.0.1.tar.gz
