-e vendor/sat-solvers
appinst>=2.1.4
cookies==2.2.1
coverage
flake8
machotools>=0.0.2
mock
haas
pip>=7.1.2 # Older pip like 7.0.2 don't handle extras_require correctly
responses==0.4.0
setuptools>=17.1 # May be required for handling extras_require correctly
six
testfixtures
tox
